@import "./mixin.scss";
@import "./theme.scss";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;

  font-family: $font-family-averta-regular;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  background-color: $background-color-primary;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
}

.ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}

p {
  color: $text-color-secondary;
}

h1,h2,h3,h4,h5 {
  color: $text-color-primary;
}