@import "./variable.scss";

* {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;

  font-family: $font-family-averta-regular;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  background-color: $background-color-primary;
}

a {
  text-decoration: none;
  -webkit-touch-callout: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  color: $text-color-secondary;
}

h1,
h2,
h3,
h4,
h5 {
  color: $text-color-primary;
}

.app-name {
  font-family: $font-family-baloo-regular;
  color: $green-banana;
  margin-block-end: 0;
  margin-block-start: 0;
}

.button-primary {
  color: $text-color-white;
  background-color: $green-banana;
  border-radius: $border-radius-base;
}

.opacity-transparent {
  opacity: 0.3;
  background-color: $black;
}
