@font-face {
  font-family: 'averta_standard_regular';
  src:  local('averta_standard_regular'),
        url(../assets/fonts/averta_standard_regular.ttf) 
        format('truetype');
}

@font-face {
  font-family: 'averta_std_bold';
  src:  local('averta_std_bold'), 
        url(../assets/fonts/averta_std_bold.ttf)
        format('truetype');
}
