@import './fontFamily.scss';


// Color hex group
$white : #ffffff;
$white-smoke : #f5f5f5;
$green-banana: #7ac142;
$black : #000;
$gray-dark : #606060;
$gray-light : #Bebebe;
$yellow : #eca42b;
$red : #D30000;

// Background Color group
$background-color-primary : $white;
$background-color-secondary : $white-smoke;

// Text color group
$text-color-primary : $black;
$text-color-secondary : $gray-dark;
$text-color-bold : $black;

// App color group
$highlight-color : $green-banana;

// Status color 
$error-color : $red;
$warning-color : $yellow;

// Font size group
$font-size-base : 14px;

// Font family group
$font-family-averta-regular : averta_standard_regular;
$font-family-averta-bold : averta_std_bold;

// Border radius group
$border-radius-base : 4px;





