@mixin custom-text($color, $fontSize, $font-weight, $font-family) {
  color: $color;
  font-family: $font-family;
  font-size: $fontSize;
  font-weight: $font-weight;
}

@mixin flex($flex: 1, $flexDirection: column) {
  display: flex;
  flex: $flex;
  flex-direction: $flexDirection;
}
